<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:property-placeholder location="classpath:config_${spring.profiles.active}.properties"/>

    <context:component-scan base-package="com.tw.sancoder.spitter"/>

    <aop:aspectj-autoproxy/>

    <!--<aop:config>-->
        <!--<aop:aspect ref="spitterDAOImplAspect">-->
        <!--<aop:pointcut id="daoOperator"-->
                      <!--expression="execution(* com.tw.sancoder.spitter.dao.SpitterDAOImpl.*(..))"/>-->
        <!--<aop:before method="beforeOperator" pointcut-ref="daoOperator"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${db.connection_url}"/>
        <property name="username" value="root"/>
        <property name="password" value="" />
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="10"/>
    </bean>

    <bean id="spitterJdbcDAOImpl" class="com.tw.sancoder.spitter.dao.SpitterJdbcDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="jpaTransactionManager"></tx:annotation-driven>
</beans>

